<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640967073661-4bpfu7qtsn03keqhe1hdpluqcubjm0ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640967073661-4bpfu7qtsn03keqhe1hdpluqcubjm0ao</string>
	<key>API_KEY</key>
	<string>AIzaSyDmA5p-td-y-3jC9vsX43TDZoERTY8CPXs</string>
	<key>GCM_SENDER_ID</key>
	<string>640967073661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roomieV2</string>
	<key>PROJECT_ID</key>
	<string>roomie-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>roomie-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640967073661:ios:5d2d0cb47d11d460f2f614</string>
	<key>DATABASE_URL</key>
	<string>https://roomie-v2-default-rtdb.firebaseio.com</string>
</dict>
</plist>